<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Categories</title>
  <link rel="stylesheet" type="text/css" href="list-category.component.css">
</head>

<body>
<div class="container">
  <h1>List Categories</h1>
  <table class="category-table">
    <thead>
    <tr>
      <th>Category ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Creation Date</th>
      <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of records">
      <td>{{ record.id }}</td>
      <td>{{ record.name | uppercase}}</td>
      <td>{{ record.description }}</td>
      <td>{{ record.image }}</td>
      <td>{{ record.creationDate }}</td>
      <td>
        <a [routerLink]="'/display-category/' + record.id">
          <button class="view-button">View Details</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>
