<html>
<head>
  <link href="bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container m-3">
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Welcome to FIT_2095</h1>
    <p>Assignment 1</p>
  </div>
</div>
<div class="container m-3">
  <a type="button" class="btn btn-primary" href="/">Back</a>
</div>
<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Getting Started with Event Management Application!</h1>
  <p>Refer down below for more information</p>
</div>
</body>
</html>